@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

/* General */

body {
    font-family: 'Montserrat', sans-serif;
}

.interface-clientes {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    /* width: 80%; */
}

/* Clientes Título */

.clientes {
    display: flex;
    justify-content: flex-end;
}


/* Clientes Grid */

.cliente-grid {
    margin: 50px 0;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-content: center;
}

.client-grid-sub {
    display: flex;
    flex-direction: column;
    padding: 25px;
}


.cliente-botao {
    background-color: #1E95BA;
    color: rgb(243, 236, 236);
    padding: 10px 90px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px 4px 4px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #1E95BA;
    border-radius: 5px;
    box-shadow: 3px 3px rgb(158, 158, 158);
    font-weight: bold;
}

.clientes-imagem {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.clientes-imagem img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(177, 177, 177);
    border: 5px solid #a0a0a0;
}

.grid {
    display: grid;
    grid-template-columns: 200px auto;
}

.cargo-cliente {
    margin: 30px 40px 0px;
    white-space: nowrap;
    color: rgb(2, 2, 2);
}

.depoimento {
    margin-top: -90px;
    text-align: justify;
    line-height: 24px;
    color: rgb(0, 0, 0);
    margin: 90px 0px 0px 0px;
}

.cliente-grid h2,
h5 {
    margin: 5px;
    
}

.formh2{
    margin: 5px;
    color: #10c9c3;
    font-size: 20px;
    font-weight: bold;
}

.cliente-grid h3,
h5 {
    font-weight: normal;
}

.cliente-seta-esquerda,
.cliente-seta-direita {
    font-size: 50px;
    color: white;
    margin-top: 170px;
}

.cliente-seta-esquerda p {
    display: flex;
    justify-content: center;
}

.cliente-seta-direita{
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .grid {
        text-align: center;
        grid-template-columns: 100%;
    }
    .cliente-grid {
        text-align: center;
    }

    .cliente-seta-esquerda,
    .cliente-seta-direita {
        font-size: 50px;
        margin-top: 90px;
    }

}