.main__members {
    display: grid;
    grid-template-columns: 2;
}

.team-- {
    background-color: rgb(19, 139, 177);
    width: 50%;
    height: 50px;
    line-height: 50px;
    margin: 50px 0px 20px;
    text-align: end;
    border-radius: 0px 10px 10px 0px;
    box-shadow: rgb(34, 34, 34) 3px 4px 6px
}

.team-- h1 {
    color: white;
    margin-right: 22px;
    font-size: 26px;
    letter-spacing: 1px;
}

.container__boxes {
    
}

.box {
    background-color: white;
    padding: 25px;
}