/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/

.main__footer {
    background-color: rgb(58, 58, 58);
    position: fixed;
    bottom: 0;
    height: 292px;
    width: 100%;
    border-top: 5px solid;
    border-image-source: linear-gradient(-90deg,#1d43b5,#00fff7);
    border-image-slice: 1;
  }
  
  .container__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95%;
    padding: 15px 15px 0px 60.5px;
  }
  
  .container__icons ul{
    list-style: none;
  }
  
  .container__icons ul li:last-child {
    margin-top: -6px;
  }
  
  .container__text {
    flex-direction: column;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .container__text span{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: "Montserrat Bold", Helvetica, sans-serif;
  }
  
  .container__text span:not(:first-child) {
    margin-top: 4px;
  }
  
  .container__location {
    height: 100%;
    width: 36%;
  }
  
  .container__location .map--google{
    width: 100%;
    height: 100%;
   
  }
  
  .container__copy {
    display: flex;
    align-items: center;
    padding-left: 6px;
  }
  
  .container__copy h5{
    font-size: 10px;
    color: white;
  }
  
  @media (max-width:992px) {
    .container__location {
      display: none;
    }
  
    .container__footer {
      justify-content: flex-start;  
    }
  
    .container__text {
      padding-left: 30.7%;
    }
  }
  
  @media (max-width:768px) {
    .container__footer {
      flex-direction: column;
      padding: 15px 15px 0px 15px;
    }
  
    .container__icons {
      order: 2;
    }
  
    .container__icons ul li{
      display: inline-block;
    }
  
    .container__text {
      padding: 0;
      order: 1;
    }
  
    .container__copy {
      justify-content: center;
      padding: 0;
      padding-bottom: px;
    }
  }