@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 1000;
    background-color: rgb(38, 38, 38);

}

header .logo {
    position: relative;
    text-transform: uppercase;
    transition: 2s;
    margin-top: 9px;
}

header ul li a {
    float: left;
    color: #000;
    text-align: center;
    padding: 7px;
    width: 95%;
    text-decoration: none;
    font-size: 18px;
    line-height: 17px;
    border-radius: 20px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    /*deixa em negrito*/
}


header ul li a:hover {
    /* hover seria quando o mouse passa por cima, */
    background-color: #1E95BA;
}

.header ul li a.ativo {
    /* aqui seria a função para definir ele quando esta selecionado/ativo */
    background-color: #178fb3;
    color: #2b2b2b;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.banner {
    width: 100%;
    background-size: cover;
   /*padding-top: -120px;*/
}

.banner img {
    width: 100%;
    height: 650px;
}

header.PassouDaImagem {
    padding: 5px 100px;
    width: 100%;
    height: 80px;
    background: rgb(38, 38, 38);
    position: fixed;
    border-bottom: solid #0378ab 0.6px;
    transition: 1s;
}

header.PassouDaImagem .logo,
header.PassouDaImagem ul li a {
    color: rgb(255, 255, 255);
}