@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 0px 90px 0px 80px;
    background-color: #383838;
    position: fixed;
    z-index: 10;
}

header ul li a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    position: relative;
    margin: 0 5px 0 0;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.6s;
    text-transform: uppercase;
}

header a .logo {
    position: relative;
    text-transform: uppercase;
    padding: 10px 0px 10px 0px;
}

header .logo img {
    width: 119px;
    height: 70px;
}

header ul li a:hover {
    background-color: #1E95BA;
}

header ul {
    display: inline-block;
}

header ul li {
    list-style: none;
    display: inline-block;
}

header.PassouDaImagem {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80.6px;
    background: #383838;
    border-bottom: solid #0a9bd8 0.6px;
    transition: 2s;
    position: fixed;
}

.checkbtn {
    font-size: 35px;
    color: rgb(0, 208, 255);
    float: right;
    cursor: pointer;
    display: none;
    font-weight: bold;
}

#check {
    display: none;
}

@media (max-width:1000px) {

    header a .logo {
        width: 75px;
        height: 50px;
    }

    header {
        max-width: 1000px;
        padding: 0 50px 0 50px;
    }

    header.PassouDaImagem {
        padding: 0 50px 0 50px;
        width: 100%;
        height: 80px;
        background: #383838;
        position: fixed;
        float: right;
        border-bottom: solid #0a9bd8 0.6px;
        transition: 2s;
    }

    header ul li a {
        float: left;
        padding: 20px 0 10px 0;
        margin: 0 0 0 0;
        width: 100%;
        font-size: 1.2em;
        line-height: 30px;
        height: 9vw;
        border-radius: 0px;

    }

    header ul li {
        width: 100%;
        float: none;
        display: block;
    }

    header ul {
        background-color: #2d2d2d;
        top: 80px;
        text-align: center;
        transition: all .5s;
        display: inline;
        width: 40%;
        position: absolute;
        float: left;
        height: 54vw;
    }

    .checkbtn {
        display: block;
        font-size: 36px;
        width: 50px;
        height: 50px;
    }
}

@media (max-width:800px){

    header ul li a {
        font-size: 1em;
        height: 9vw;
        padding: 15px 0 0 0;

    }

}

@media (max-width:600px){
    header ul li a {
        font-size: 0.8em;
        height: 9vw;
        padding: 10px 0 0 0;
    }
}

@media (max-width:450px) {

    header .logo img {
        width: 75px;
        height: 50px;
        margin-top: 5px;
    }

    header {
        max-width: 450px;
        height: 60px;
        padding: 0 50px 0 50px;
    }

    header.PassouDaImagem {
        height: 60px;
    }

    header ul li a {
        font-size: 11px;
        line-height: 10px;
        height: 8.8vw;
        padding: 10px 0 0 0;

    }

    header ul li {
        width: 40vw;
    }

    header ul {
        width: 40%;
        top: 60px;
        left: -100vw;
    }

    .checkbtn {
        font-size: 25px;
        width: 30px;
        height: 30px;
    }
}