.TextoSobre {
    width: 100%;
    color: rgb(39, 39, 39);
    margin-top: 30px;
}

.TextoSobre h1 {
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 2.2em;
    text-align: center;
    padding: 0px 3vw 0px 3vw;
}

.TextoSobre h3 {
    font-size: 1.5em;
    text-align: center;
    padding: 0px 3vw 0px 3vw;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}

@media (max-width:1000px) {
    .TextoSobre h1 {
        font-size: 1.5em;
    }
    .TextoSobre h3 {
        font-size: 1.2em;
    }
}

@media (max-width:700px) {
    .TextoSobre h1 {
        font-size: 1.2em;
    }
    .TextoSobre h3 {
        font-size: 0.9em;
    }
}

@media (max-width:450px) {
    .TextoSobre h1 {
        font-size: 1em;
    }
    .TextoSobre h3 {
        font-size: 0.8em;
    }
}