.TextoSobre {
    width: 100%;
    color: rgb(39, 39, 39);
    margin-top: 30px;
}

.TextoSobre h1 {
    font-weight: bold;
    font-family: 'Montserrat';
    font-size: 45px;
    text-align: center;
    padding: 0px 5vw 0px 5vw;
}

.TextoSobre h3 {
    font-size: 25px;
    text-align: center;
    padding: 0px 5vw 0px 5vw;
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}

@media (max-width:1000px) {
    .TextoSobre h1 {
        font-size: 35px;
    }
    .TextoSobre h3 {
        font-size: 25px;
    }
}

@media (max-width:700px) {
    .TextoSobre h1 {
        font-size: 17px;
    }
    .TextoSobre h3 {
        font-size: 13px;
    }
}

@media (max-width:450px) {
    .TextoSobre h1 {
        font-size: 15px;
    }
    .TextoSobre h3 {
        font-size: 11px;
    }
}