.solucoes .row {
    display: flex;
    justify-content: center;
}

.solucoes .card {
    background-color: #138BB1;
    color: white;
    width: 25vw;
    height: 20vw;
    margin: 2vw;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 3px 4px 6px #222;
    -moz-box-shadow: 3px 4px 6px #222;
    box-shadow: 3px 4px 6px #222;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 1s;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.solucoes .card .icon {
    font-size: 75px;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.solucoes .white {
    background-color: white;
    color: black;
}

.card-back {
    transform: rotateY(180deg);
}

@media (max-width:800px) {
    .solucoes .card {
        font-size: 12px;
        width: 25vw;
        height: 25vw;
    }
    .solucoes .card .icon {
        font-size: 60px;
    }
}

@media (max-width:500px) {
    .solucoes .row {
        display: list-item;
    }
    .solucoes .card {
        font-size: 15px;
        width: 70vw;
        height: 55vw;
        margin: 0 0 4vw 15vw;
    }
    .solucoes .card .icon {
        font-size: 45px;
    }
}