.container__barra-status {
    width: 85%;
    border-top: 1px solid #08BED6;
    border-bottom: 1px solid #08BED6;
    padding-top: 28px;
    padding-bottom: 26px;
    margin: auto;
    margin-top: 151px;
}

.container__barra-status .barra-status__list {
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.container__barra-status .barra-status__list .list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1vw;
}

.item__content {
    background-color: #0F7190;
    color: #ffffff;
    border: 5px solid #383838;
    border-radius: 50%;
    margin-bottom: 7px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    height: 13vw;
    width: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);
    text-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    line-height: 73px;
}

.container__barra-status .barra-status__list .list__item span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #000000;
    line-height: 37px;
}

@media (max-width:800px) {
    .item__content {
        border: 3px solid #383838;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 8400;
        font-size: 35px;
        height: 20vw;
        width: 20vw;
        line-height: 53px;
    }
    .container__barra-status .barra-status__list .list__item span {
        font-weight: 600;
        font-size: 20px;
        line-height: 37px;
    }
}

@media (max-width:500px) {
    .item__content {
        border: 3px solid #383838;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 8400;
        font-size: 30px;
        height: 15vw;
        width: 15vw;
        line-height: 53px;
    }
    .container__barra-status .barra-status__list .list__item span {
        font-weight: 600;
        font-size: 15px;
        line-height: 37px;
    }
}